
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<table align="center">
    <tr>
        <td><h1>Thank You For Using JustEat</h1></td>
    </tr>
    <tr>
        <td><h1>You Will Get Notification About Your Order Soon</h1></td>
    </tr>
</table>

