@model IEnumerable<JustEat.Models.Trending>

@{
    ViewBag.Title = "BestSelling";
    Layout = "~/Views/Shared/RestaurentLayout.cshtml";
}

<div id="middlediv">
    <h2>BestSelling</h2>

   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Food.Title)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Food.Title)
                </td>
                
                
            </tr>
        }

    </table>
</div>