
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/RestaurentLayout.cshtml";
}
<style>
    #middlediv1 {
        float: left;
        margin-left: 332px;
        margin-top: 32px;
        left: 0px;
        bottom: 10px;
        border: 3px solid blue;
    }

    #middlediv2 {
        float: left;
        margin-left: 132px;
        margin-top: 32px;
        left: 0px;
        bottom: 10px;
        border: 3px solid blue;
    }

    #middlediv3 {
        float: left;
        margin-left: 132px;
        margin-top: 32px;
        left: 0px;
        bottom: 10px;
        border: 3px solid blue;
    }

    #middlediv4 {
        float: left;
        margin-left: 315px;
        margin-top: 32px;
        left: 0px;
        bottom: 10px;
        border: 3px solid blue;
    }

    #middlediv5 {
        float: left;
        margin-left: 107px;
        margin-top: 32px;
        left: 0px;
        bottom: 10px;
        border: 3px solid blue;
    }

    #middlediv6 {
        float: left;
        margin-left: 130px;
        margin-top: 32px;
        left: 0px;
        bottom: 10px;
        border: 3px solid blue;
    }
</style>
    <div id="middlediv" > 
    <div id="middlediv1" > <a href="~/RestaurentReport/TotalProfit" > Total Profit</a > </div > 
    <div id="middlediv2" > <a href="~/RestaurentReport/BestSelling" > Best Selling</a > </div > 
    <div id="middlediv3" > <a href="~/RestaurentReport/TodayProfit" > Today's Profit</a> </div > 
    <div id="middlediv4" > <a href="~/RestaurentReport/SevenDayProfit" > Last 7 Day Profit</a > </div > 
    <div id="middlediv5"> <a href="~/RestaurentReport/ByDate"> Report By Date</a> </div> 
    
    </div >
