
@{
    ViewBag.Title = "CancelFreeDeliveryAllMenu";
    Layout = "~/Views/Shared/RestaurentLayout.cshtml";
}


<div id="middlediv">
    <h2>Are You Sure You Want To Cancel FreeDelivery In All Menu?</h2>

    @Html.ActionLink("Cancel", "FinalCancelFreeDeliveryAllMenu")

</div>

