
@{
    ViewBag.Title = "FinalCancelFreeDeliveryAllMenu";
    Layout = "~/Views/Shared/RestaurentLayout.cshtml";
}

<div id="middlediv">
    <h2>Free Delivery In All Menu Has Been Canceled</h2>



</div>

