
@{
    ViewBag.Title = "FreeDeliveryAllMenu";
    Layout = "~/Views/Shared/RestaurentLayout.cshtml";
}

<div id="middlediv">
    <h2>Are You Sure You Want To Offer FreeDelivery In All Menu?</h2>
    
    @Html.ActionLink("Allow", "AllowFreeDeliveryAllMenu")
    
</div>

