
@{
    ViewBag.Title = "ByDate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div id="middlediv">
    <form action="~/Report/ReportByDate" method="post">
        <h1>Select A Date</h1>
        <input type="date" name="Date" />
        <input type="submit" value="Show" />
    </form>
</div>

